html, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, img, small, strong, ol, li, ul, table, label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  font: normal 10px/1.9em "Montserrat", sans-serif; }

h1 {
  font-style: normal;
  font-size: 45px;
  font-weight: normal;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif; }

a {
  color: #000; }
  a:hover {
    color: #000; }

p {
  margin-bottom: 2em; }

.portfolio {
  text-align: center;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  height: 100%; }

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100%; }
  .no-scroll .contentSection, .no-scroll .site-headerText, .no-scroll .site-headerMobile {
    opacity: 0; }

.hide-all {
  display: none !important; }

.show-all {
  display: inherit !important; }

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-50deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
  background-attachment: fixed; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.main-nav {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1010;
  outline: none;
  width: 23px;
  padding: 10px;
  cursor: pointer; }
  .main-nav .line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #FFF;
    margin-bottom: 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s, opacity 0.1s ease-in-out 0.1s;
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s, opacity 0.1s ease-in-out 0.1s; }
  .main-nav:hover > .line {
    background-color: #8591ac;
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1); }
  .main-nav.nav-open > .line {
    background-color: #FFF; }
  .main-nav.nav-open > .line-1 {
    -webkit-transform: translateY(6px) rotateZ(135deg);
    transform: translateY(6px) rotateZ(135deg); }
  .main-nav.nav-open > .line-2 {
    background-color: #FFF;
    opacity: 0; }
  .main-nav.nav-open > .line-3 {
    -webkit-transform: translateY(-6px) rotateZ(-135deg);
    transform: translateY(-6px) rotateZ(-135deg); }

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1009;
  text-align: center;
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
  opacity: 0;
  color: #ffffff;
  pointer-events: none;
  background-color: transparent;
  overflow: hidden;
  display: table; }
  .main-menu.active {
    pointer-events: initial; }
  .main-menu .menu-items {
    display: table-cell;
    vertical-align: middle; }
  .main-menu ul.nav-cat {
    list-style-type: none;
    overflow: hidden;
    padding: 20px 0 30px;
    margin: 0 auto; }
  .main-menu li.cat {
    display: block;
    padding: 0;
    position: relative; }
  .main-menu .link {
    padding: 27px 0px 30px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: color 0.75s ease-in-out;
    -webkit-transition: color 0.75s ease-in-out;
    -moz-transition: color 0.75s ease-in-out;
    text-transform: uppercase; }

.site-headerText {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.26px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: 5;
  width: 100%;
  transition: visability 0s, opacity 0.75s ease-in-out;
  opacity: 0; }
  .site-headerText img {
    border-radius: 50%; }
  .site-headerText.sticked {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    max-width: 50%; }
  @media (max-width: 768px) {
    .site-headerText {
      display: none; } }
  .site-headerText a {
    text-decoration: none; }
  .site-headerText span {
    display: block; }
    .site-headerText span.name {
      font-size: 22px;
      padding: 15px 0; }

.site-headerMobile {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.26px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  z-index: 5;
  width: 100%;
  transition: visability 0s, opacity 0.75s ease-in-out; }
  .site-headerMobile img {
    border-radius: 50%; }
  .site-headerMobile a {
    text-decoration: none; }
  .site-headerMobile span {
    display: block; }
    .site-headerMobile span.name {
      font-size: 22px;
      padding: 15px 0; }

.fp-viewing-1 .site-headerText, .fp-viewing-2 .site-headerText, .fp-viewing-3 .site-headerText, .fp-viewing-4 .site-headerText {
  opacity: 1; }

.heroComponent {
  height: 100%;
  min-height: 100%; }
  .heroComponent .areaOne {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(https://images.pexels.com/photos/1268820/pexels-photo-1268820.jpeg) center bottom no-repeat scroll #FFF;
    background-size: cover; }
    .heroComponent .areaOne .textContainer {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative; }
      .heroComponent .areaOne .textContainer > div {
        display: table-cell;
        vertical-align: middle; }
        .heroComponent .areaOne .textContainer > div span.main {
          font-size: 48px;
          font-family: "Quicksand", sans-serif;
          padding-left: 3em;
          padding-right: 1em; }
        .heroComponent .areaOne .textContainer > div span.secondary {
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          text-transform: lowercase;
          font-style: italic; }
        @media (max-width: 768px) {
          .heroComponent .areaOne .textContainer > div span {
            display: block;
            padding: 10px 5px !important;
            text-align: center; } }

.notFoundComponent {
  height: 100%;
  min-height: 100%; }
  .notFoundComponent .areaOne {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(https://link1973.github.io/images/404.jpg) center center no-repeat scroll #24122C;
    background-size: cover; }
    @media (max-width: 768px) {
      .notFoundComponent .areaOne {
        background-size: 100%; } }
    .notFoundComponent .areaOne .textContainer {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative; }
      .notFoundComponent .areaOne .textContainer > div {
        display: table-cell;
        vertical-align: middle; }
        .notFoundComponent .areaOne .textContainer > div span.main {
          opacity: 0;
          display: none; }

body.notFound .main-nav .line {
  background-color: #FFF; }
body.notFound .siteName {
  color: #FFF; }

section {
  height: 100%;
  width: 100%; }

.contentSection {
  width: 780px;
  max-width: 50%;
  margin-left: 10%;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 100px;
  transition: visability 0s, opacity 0.75s ease-in-out; }
  .contentSection img {
    max-width: 100%; }
  .contentSection h2 {
<<<<<<< HEAD
    font-size: 24px;
    margin-bottom: 20px; }
  .contentSection p {
    margin-bottom: 2.5em;
    line-height: 2.5;
    font-size: 13px; }
    .contentSection p.altText {
      font-size: 10px; }
    .contentSection p strong {
      margin-right: 20px; }
    .contentSection p small {
      display: block; }
  .contentSection .contact {
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px; }
    .contentSection .contact i {
      margin-right: 20px;
      font-size: 18px; }
=======
    border-bottom: 4px solid #000;
    font-size: 44px;
    margin-bottom: 20px;
    letter-spacing: -6px; }
  .contentSection p {
    margin-bottom: 2.5em; }
    .contentSection p.altText {
      font-size: 10px; }
>>>>>>> 53a4097c9a2ebbd3822a6813951c3418d4a20f4c
  @media (max-width: 767px) {
    .contentSection {
      max-width: 100%;
      width: auto;
      margin-left: 2%;
      margin-right: 2%; } }
  .contentSection .container {
    display: flex; }
    .contentSection .container > div {
      width: 50%;
      text-align: center;
<<<<<<< HEAD
      padding: 25px 0 45px;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 4px; }
      .contentSection .container > div .icon {
        margin-bottom: 0;
        font-size: 25px; }
=======
      border: 5px solid #FFF;
      border-radius: 2%;
      padding: 40px 0 80px; }
      .contentSection .container > div.first {
        background-color: #BCC483; }
      .contentSection .container > div.second {
        background-color: #E0D0CD; }
>>>>>>> 53a4097c9a2ebbd3822a6813951c3418d4a20f4c
      .contentSection .container > div .header {
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 4px;
        font-size: 10px; }
<<<<<<< HEAD
      .contentSection .container > div .sub {
        font-size: 12px;
        line-height: 1.75;
        margin: 0 15px; }
=======
>>>>>>> 53a4097c9a2ebbd3822a6813951c3418d4a20f4c
      .contentSection .container > div ul {
        list-style-type: none; }
        .contentSection .container > div ul li {
          display: block;
          margin-bottom: 5px; }
<<<<<<< HEAD
  .contentSection h3 {
    padding-top: 10px;
    padding-bottom: 20px; }
  .contentSection .rating {
    display: table;
    height: 10px;
    width: 100%;
    margin: 10px -2px 20px -2px; }
    .contentSection .rating .bar {
      display: table-cell;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      background: rgba(0, 0, 0, 0.15);
      background-clip: padding-box; }
      .contentSection .rating .bar.solid {
        background: #FFF;
        background-clip: padding-box; }
=======
>>>>>>> 53a4097c9a2ebbd3822a6813951c3418d4a20f4c
