html, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, img, small, strong, ol, li, ul, table, label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  font: normal 15px/1.9em "Montserrat", sans-serif; }

h1 {
  font-style: normal;
  font-size: 45px;
  font-weight: normal;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif; }

a {
  color: #000; }
  a:hover {
    color: #000; }

p {
  margin-bottom: 2em; }

.portfolio {
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 100%; }

.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100%; }

.hide-all {
  display: none !important; }

.show-all {
  display: inherit !important; }

.main-nav {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1010;
  outline: none;
  width: 23px;
  padding: 10px;
  cursor: pointer; }
  .main-nav .line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    margin-bottom: 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s, opacity 0.1s ease-in-out 0.1s;
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s, opacity 0.1s ease-in-out 0.1s; }
  .main-nav:hover > .line {
    background-color: #8591ac;
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1); }
  .main-nav.nav-open > .line {
    background-color: #FFF; }
  .main-nav.nav-open > .line-1 {
    -webkit-transform: translateY(6px) rotateZ(135deg);
    transform: translateY(6px) rotateZ(135deg); }
  .main-nav.nav-open > .line-2 {
    background-color: #FFF;
    opacity: 0; }
  .main-nav.nav-open > .line-3 {
    -webkit-transform: translateY(-6px) rotateZ(-135deg);
    transform: translateY(-6px) rotateZ(-135deg); }

.main-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1009;
  text-align: center;
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
  opacity: 0;
  color: #ffffff;
  pointer-events: none;
  background-color: #1f9b7a;
  overflow: hidden;
  display: table; }
  .main-menu.active {
    pointer-events: initial; }
  .main-menu .menu-items {
    display: table-cell;
    vertical-align: middle; }
  .main-menu ul.nav-cat {
    list-style-type: none;
    overflow: hidden;
    padding: 20px 0 30px;
    margin: 0 auto; }
  .main-menu li.cat {
    display: block;
    padding: 0;
    position: relative; }
  .main-menu .link {
    padding: 27px 0px 30px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    transform: translateZ(0);
    text-transform: uppercase; }

.site-headerText {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.26px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: 5; }
  .site-headerText.sticked {
    opacity: 0;
    display: none; }
  .site-headerText a {
    text-decoration: none; }

.heroComponent {
  height: 100%;
  min-height: 100%; }
  .heroComponent .areaOne {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(https://images.pexels.com/photos/1268820/pexels-photo-1268820.jpeg) center bottom no-repeat scroll #FFF;
    background-size: cover; }
    .heroComponent .areaOne .textContainer {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative; }
      .heroComponent .areaOne .textContainer > div {
        display: table-cell;
        vertical-align: middle; }
        .heroComponent .areaOne .textContainer > div span.main {
          font-size: 48px;
          font-family: "Quicksand", sans-serif;
          padding-left: 3em;
          padding-right: 1em; }
        .heroComponent .areaOne .textContainer > div span.secondary {
          font-size: 18px;
          font-family: "Montserrat", sans-serif;
          text-transform: lowercase;
          font-style: italic; }
        @media (max-width: 768px) {
          .heroComponent .areaOne .textContainer > div span {
            display: block;
            padding: 10px 5px !important;
            text-align: center; } }

.notFoundComponent {
  height: 100%;
  min-height: 100%; }
  .notFoundComponent .areaOne {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(./images/404.jpg) center center no-repeat scroll #FFF;
    background-size: cover; }
    .notFoundComponent .areaOne .textContainer {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 100%;
      margin: 0;
      position: relative; }
      .notFoundComponent .areaOne .textContainer > div {
        display: table-cell;
        vertical-align: middle; }
        .notFoundComponent .areaOne .textContainer > div span.main {
          opacity: 0;
          display: none; }

body.notFound .main-nav .line {
  background-color: #FFF; }
body.notFound .siteName {
  color: #FFF; }

.contentSection {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 100px; }
  .contentSection img {
    max-width: 100%; }
  .contentSection h2 {
    border-bottom: 4px solid #000;
    font-size: 44px; }
  @media (max-width: 767px) {
    .contentSection {
      max-width: 100%; } }
  .contentSection .container {
    display: flex; }
    .contentSection .container > div {
      width: 50%;
      text-align: center; }
      .contentSection .container > div .header {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .5px; }
      .contentSection .container > div ul {
        list-style-type: none; }
        .contentSection .container > div ul li {
          display: block; }
